 <nav>
    <div class="nav-wrapper navbar">
      <a href="/" class="brand-logo">Notebook Shop</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        {{!-- Home --}}
        {{#if isHome}}
          <li class="active"><a href="/">Home</a></li>
        {{else}}
          <li class=""><a href="/">Home</a></li>
        {{/if}}

        {{!-- Notebooks --}}
        {{#if isNotebooks}}
         <li  class="active" ><a href="/notebooks">Notebooks</a></li>
        {{else}}
         <li ><a href="/notebooks">Notebooks</a></li>
        {{/if}}

        {{!-- Add Notebook --}}
        {{#if isAdd}}
          <li class="active" ><a href="/add">Add Notebook</a></li>
        {{else}}
          <li><a href="/add">Add Notebook</a></li>
        {{/if}}
        
        {{!-- About --}}
        {{#if isAbout}}
          <li class="active"  ><a href="/about">About</a></li>
        {{else}}
          <li ><a href="/about">About</a></li>
        {{/if}}
       
               {{!-- Basket --}}
        {{#if isCard}}
          <li class="active"  ><a href="/card">Basket <sup>{{fullItemCount}}</sup> </a></li>
        {{else}}
          <li ><a href="/card">Basket <sup>{{fullItemCount}}</sup> </a></li>
        {{/if}}

                       {{!-- Order --}}
        {{#if isOrder}}
          <li class="active"  ><a href="/orders">Order Now <sup>{{fullItemCount}}</sup> </a></li>
        {{else}}
          <li ><a href="/orders">Order <sup>{{fullItemCount}}</sup> </a></li>
        {{/if}}
        
      </ul>

    </div>
  </nav>