 <nav>
    <div class="nav-wrapper navbar">
      <a href="/" class="brand-logo">Notebook Shop</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

              {{!-- Home --}}
        {{#if isHome}}
          <li class="active"><a href="/">Home</a></li>
        {{else}}
          <li class=""><a href="/">Home</a></li>
        {{/if}}

              {{!-- Notebooks --}}
        {{#if isNotebooks}}
         <li  class="active" ><a href="/notebooks">Notebooks</a></li>
        {{else}}
         <li ><a href="/notebooks">Notebooks</a></li>
        {{/if}}


        
                {{!-- About --}}
        {{#if isAbout}}
          <li class="active"  ><a href="/about">About</a></li>
        {{else}}
          <li ><a href="/about">About</a></li>
        {{/if}}

        {{#if isAuth}}
                  {{!-- Add Notebook --}}
            {{#if isAdd}}
              <li class="active" ><a href="/add">Add Notebook</a></li>
            {{else}}
              <li><a href="/add">Add Notebook</a></li>
            {{/if}}

                  {{!-- Logout --}}

                  {{!-- Basket --}}
            {{#if isCard}}
              <li class="active"  ><a href="/card">Basket <sup>{{fullItemCount}}</sup> </a></li>
            {{else}}
              <li ><a href="/card">Basket <sup>{{fullItemCount}}</sup> </a></li>
            {{/if}}

                  {{!-- Order --}}
            {{#if isOrder}}
              <li class="active"  ><a href="/orders">Order Now</a></li>
            {{else}}
              <li ><a href="/orders">Order</a></li>
            {{/if}}
                           {{!-- Profile --}}
            {{#if isProfile}}
              <li class="active"><a href="/profile"><i class="fa-solid user-icon fa-user"></i>Profile</a></li>
            {{else}}
              <li ><a href="/profile"><i class="fa-solid user-icon fa-user"></i>Profile</a></li>
            {{/if}}

            <li ><a href="/auth/logout">Log Out</a></li>
        {{else}}
                    {{!-- Login --}}
          {{#if isLogin}}
            <li class="active"  ><a href="/auth/login#login">Log IN  </a></li>
          {{else}}
            <li ><a href="/auth/login#login">Log IN  </a></li>
          {{/if}}

        {{/if}}
      </ul>
    </div>
  </nav>