<h1>Basket</h1>

<div id="card">
  {{#if notebooks.length}}
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each notebooks}}
      <tr>
        <td>{{title}}</td>
        <td>{{count}}</td>
        <td>
          <button class="btn btn-small js-remove" data-id="{{id}}">Delete</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<h4><b>Price: </b> <span class="price " >{{price}}</span></h4>
{{else}}
<p>Basket is empty</p>
{{/if}}
</div>