<h3>Edit Notebook {{ notebook.title }}</h3>

<form class="form-control z-depth-2 " action="/notebook/edit" method="POST">
<div class="input-field">
  <input type="text" name="title" id="title" class="validate" value="{{notebook.title}}" required>
  <label for="title">Notebooks Model</label>
  <span class="helper-text" data-error="Enter Notebooks Model"></span>
</div>
<div class="input-field">
  <input type="number" name="price" id="price" class="validate" value="{{notebook.price}}" min="1" required>
  <label for="price">Price </label>
  <span class="helper-text" data-error="Enter Price "></span>
</div>
<div class="input-field">
  <input type="text" name="img" id="img" class="validate" value="{{notebook.img}}" required>
  <label for="img">URL Image</label>
  <span class="helper-text" data-error="Enter URL Image"></span>
</div>
<div class="input-field">
  <textarea  name="descr" id="descr" style="height: 5rem;" class="materialize-textarea" required>
    {{ notebook.descr}}
  </textarea>
  <label for="descr">Description </label>
  <span class="helper-text" data-error="Enter Description"></span>
</div>

<button class="btn btn-primary">
  Add Notebooks
</button>
</form>