<h1>Notebooks</h1>

{{#if notebooks.length}}
<div class="content_notebook">
{{#each notebooks}}
  <div class="card">
    <div class="card-image">
      <img src="{{img}}" alt="{{title}}">
    </div>
    <div class="card-content">
      <h3 class="card-title title">{{title}}</h3>
      <p>{{descr}}</p>
      <p class="price">{{price}}</p>
    </div>
    <div class="card-action actions">
      <a href="/notebooks/{{id}}" target="_blank">Details</a>
      <a href="/notebooks/{{id}}/edit?allow=true" >Edit</a>
      <form action="/card/add" method="POST">
      <input type="hidden" name="id" value="{{id}}">
        <button type="submit" class="btn btn-primary">Buy</button>
      </form>
    </div>
  </div>
{{/each}}
</div>
{{else}}
<b>Notebooks empty</b>
{{/if}}