 <div class="row notebookItem">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img src="{{notebook.img}}" alt="{{notebook.title}}">
        </div>
        <div class="card-content">
          <h4 >{{notebook.title}} </h4>
          <p class="price big">{{notebook.price}}</p>
          <p>{{notebook.descr}}</p>
        </div>
      </div>
    </div>
  </div>